/***********************/
/*ALGEMEEN CSS DOCUMENT*/
/***********************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******************/
/*CUSTOM PROPERTIES*/
/*******************/

:root {
  /*font-size*/
  --paragraph-size: clamp(1rem, calc(0.28vw + 1rem), 1.28rem);
  --font-family-montserrat: var(--font-montserrat), serif;
  --font-family-poppins: var(--font-poppins), sans-serif;
  /*color pallete*/
  --primary-color: #131313;
  --secondary-color: #1b1b1b;
  --tertiary-color: #565656;

  --primary-font-color: #eae8e4;
  --secondary-font-color: #888888;
  --white: #fff;
}

/**********/
/*GENERAL*/
/**********/

* a,
* p,
* li,
* select {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font-family-poppins);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
}

* h1,
* h2 {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 75rem;
  padding: 8rem 1.5rem 1.5rem;
  width: 100%;
  margin: auto;
}

html {
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

* ul {
  list-style: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
